@model TimeTrackerLibrary.Model.User

@{
    ViewData["Title"] = "Index";
    @*List of todos passed from controller to show in table list*@
    var UserList = (IEnumerable<TimeTrackerLibrary.Model.User>)ViewData["UserList"];
}

<h1>List of Users</h1>

@*This style attribute provides border styling and alternate color to cell*@
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: lightgrey;
    }
</style>

@*This is the main table to show all todos*@
<table>
    @*This inline style provides background yellow to header only*@
    <thead style="background-color:lightblue">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Rate (CAD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in UserList)
        {
            <tr>
                <td>
                    @*This partial is used to show inline form to update Todo*@
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-controller="TimeSheet" asp-action="Index" asp-route-id="@item.UserId">Time Sheets</a>
                    <a asp-controller="TimeSheet" asp-action="Create" asp-route-id="@item.UserId">Create Time Sheet</a>
                </td>                
            </tr>
        }
    </tbody>
</table>


@*This partial is used to show inline form to create User*@
<partial name="_CreateUserPartial" class="TimeTrackerLibrary.Model.User" />