@model TimeTrackerLibrary.Model.TimeSheet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimeSheet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TimesheetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
