@model IEnumerable<TimeTrackerLibrary.Model.TimeSheet>

@{
    ViewData["Title"] = "Index";
    var Timesheets = (IEnumerable<TimeTrackerLibrary.Model.TimeSheet>)ViewData["TimeSheetList"];
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration Hr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount $)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Timesheets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TimesheetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TimesheetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TimesheetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
